@font-face {
    font-family: shabnam;
    src: url(font/shabnam.ttf);
    font-weight: normal;
}

@font-face {
    font-family: shabnam-light;
    src: url(font/shabnam-light.ttf);
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: shabnam;
    background-color: #f1f1f1;
}

.bg-image {
    width: 100%;
    background-image: url("image/headpic2.jpg");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 20%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Position text in the middle of the page/image */

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    max-lines: 10%;
    font-size: 20px;
}

.myul {
    text-align: center;
}

.contain1 {
    margin: 10px;
    padding: 8px;
}

.space {
    margin: 10px;
}

.mybtn {
    margin-bottom: 5px;
}

.mybtn2 {
    bottom: 5px;
}

.mtfoot {
    margin-top: 15px;
}

.fontfam {
    font-family: shabnam;
}

.textjustify {
    text-align: justify;
    /* use in paragraph for topnews */
}

.paramargin {
    margin-right: 1px;
}